{{ define "main" }}

<!-- Title and summary -->
<div class="container">
    <div class="py-5 rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-2 mb-4">{{ .Title }}</h1>
            <p class="bio col-md-8 fs-4 serif">{{ .Summary }}</p>
        </div>
    </div>
</div>

<!-- Filter Buttons -->
<div class="container mb-5">

    {{ $posts := where .Pages "Params.project" "eq" nil }}
    {{ $scratch := newScratch }}
    {{ $scratch.Set "visibleTags" (slice) }}
    {{ range $posts }}
        {{ range .Params.garden_tags }}
            {{ $scratch.Add "visibleTags" (slice .) }}
        {{ end }}
    {{ end }}

    <div class="btn-toolbar mb-2 bio" role="toolbar" aria-label="Toolbar with button groups">
        <i class="fas fa-filter"></i>
        <div id="filters" class="button-group">
            <input type="checkbox" class="btn-check" id="js-iso-all" autocomplete="off" data-filter="*" checked>
            <label class="button" for="js-iso-all">All</label>
            {{ range sort (uniq ($scratch.Get "visibleTags")) }}
            {{ $name := . }}
            {{ $slug := $name | urlize }}
            {{ $btnid := printf "js-iso-%s" $slug }}
            <input type="checkbox" class="btn-check" id="{{ $btnid }}" autocomplete="off" data-filter=".{{ $btnid }}">
            <label class="button" for="{{ $btnid }}">{{ $name }}</label>  
            {{ end }}
        </div>
    </div>

</div>

<!-- Garden Post Cards -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4" id="blogposts">
        {{ range $posts.ByPublishDate.Reverse }}
        {{ partial "card_garden.html" . }}
        {{ end }}
     </div>
</div>

{{ end }}
