<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-4">
            <p class="footer">{{ .Site.Copyright }} {{ now.Format "2006"}} </p>
        </div>
        <div class="col-sm-6 d-flex flex-row-reverse">
            {{ range .Site.Params.Social }}
            {{ if ne .link "#" }}
            <a class="footer-social px-2" href="{{ .link }}" target="_blank" rel="noopener noreferrer"
                aria-label="{{ .name }}" title="{{ .name }}"><i class="{{ .icon }}" aria-hidden="true"></i></a>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
