<script src="/js/bootstrap.min.js"></script>
{{ if .IsSection }}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/isotope.pkgd.min.js"></script>
<script src="/js/isotope.js"></script>
{{ end }}
<script src="/js/dark.js"></script>
<script>
// set the default theme
{{ if .Site.Params.darkModeDefault }}

var savedTheme = localStorage.getItem("dark-mode-storage") || "{{ .Site.Params.darkModeDefault }}" 
setTheme(savedTheme);

{{ else }}
var savedTheme = localStorage.getItem("dark-mode-storage") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light")
setTheme(savedTheme);
{{ end }}
</script>
{{ if .HasShortcode "mermaid" }}
<script src="/js/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true, securityLevel: 'loose'});</script>
{{ end }}
{{ if .IsPage }}
<script src="/js/markdown-callout.js"></script>
{{ end }}
